@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital@1&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Nunito',sans-serif;
}
h1{
  font-family: 'Philosopher';
}
h2{
  font-family: 'Philosopher';
}

.anything{
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  cursor: pointer;
    
}
.anything:hover{
  transform: scale(1.05);
}
.activeclass{
  font-weight: 'bold';
  border-bottom: 1px solid white ;

}

